<%!
from django.utils.translation import ugettext as _
from openedx.core.lib.js_utils import escape_jsoon_for_js
%>

<%namespace name='static' file='../static_content.html'/>

<%inherit file="../main.html" />

<%block name="js_extra">
<%static:require_module module_name="support/js/enrollment_factory" class_name="EnrollmentFactory">
    new EnrollmentFactory({
        user: ${username | n,escape_jsoon_for_js},
        enrollmentsUrl: ${enrollmentsUrl | n,escape_jsoon_for_js},
        enrollmentSupportUrl: ${enrollmentSupportUrl | n,escape_jsoon_for_js},
    });
</%static:require_module>
</%block>

<%block name="pagetitle">
${_("Enrollment")}
</%block>

<%block name="content">
<section class="container outside-app">
  <h1>${_("Student Support: Enrollment")}</h1>
  <div class="enrollment-content"></div>
</section>
</%block>
