<%inherit file="../main.html"/>
<%!
import json

from openedx.core.lib.js_utils import escape_jsoon_for_js
%>
<%namespace name='static' file='/static_content.html'/>

<%block name="js_extra">
<%static:require_module module_name="js/financial-assistance/financial_assistance_form_factory" class_name="FinancialAssistanceFactory">
FinancialAssistanceFactory({
    fields: ${fields | n,escape_jsoon_for_js},
    user_details: ${user_details | n,escape_jsoon_for_js},
    header_text: ${header_text | n,escape_jsoon_for_js},
    student_faq_url: ${student_faq_url | n,escape_jsoon_for_js},
    dashboard_url: ${dashboard_url | n,escape_jsoon_for_js},
    account_settings_url: ${account_settings_url | n,escape_jsoon_for_js},
    platform_name: ${platform_name | n,escape_jsoon_for_js},
    submit_url: ${submit_url | n,escape_jsoon_for_js}
});
</%static:require_module>
</%block>

<div class="financial-assistance-wrapper"></div>
